*{
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2{
    color: white;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: "Gill Sans", sans-serif;;
}

body{
    height: 100vh;
}

.container{
    width: 440px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.carre{
    width: 200px;
    height: 200px;
    background: linear-gradient(to right,rgb(105, 0, 74), rgb(255, 155, 171));
    font-size: 2em;
    text-align: center;
    line-height: 185px;
    margin: 8px;
    border-radius: 1px;
    cursor : pointer;
    transition : 0.8s, color 0.8s, transform 0.8s;
    color: white;
}

.carre:nth-child(2n){
    margin-left: 8px;
}

.clicked{
    transform: scale(0.8);
    rotate: 660deg;
    background: linear-gradient(to right, rgb(105, 0, 74), rgb(255, 155, 171));
    color: white;
}